{% extends 'base.html.twig' %}

{% block title %}Chose delivery service
{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\CartController::cart')) }}
{% if purchase.deliveryFees %}
  <table class="table">
<tr>
				
					<td>
                    
						{{ purchase.deliveryFees.transport.name}}
                   
					</td>
                    <td>
                  
                    Delivered within {{purchase.maxDays}} days
                    
                    </td>
                    <td>
					{{ purchase.deliveryPrice }}&nbsp₦
                    </td>
                  
	</tr>
  </table>  

{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("menu") }}
{% endblock %}
		

