{% extends 'base.html.twig' %}

{% block title %}
  MDS Cart
{% endblock %}

{% block body %}
  {% if (purchase.purchaseLines|length) > 0 %}
      <div class="container mt-3 mb-5">
    {% if app.user.address %}
        <h2>
          Validate your address
        </h2>
        <div class="row">
          <div class="col-9">
            <p>
              {{ app.user.address.street }}
              <br />

              {% if app.user.address.zipCode %}
                {{ app.user.address.zipCode }}
              {% endif %}

              {{ app.user.address.cityName }}
              <br />
              {{ app.user.address.country|capitalize }}
              <br />
              {% if app.user.address.phoneNumber %}
                Phone : +
                {{ app.user.address.phoneNumber.countryCode }}
                {{ app.user.address.phoneNumber.nationalNumber }}
              {% endif %}
            </p>
            <a href="{{ path('address_new', {case: 'modify'}) }}"
              class="btn btn-success" style="font-size:1.3rem">
              Modify your address
            </a>
            <a href="{{ path('address_new') }}" class="btn btn-success" style="font-size:1.3rem">
              Add another address for this purchase
            </a>
          </div>
          <div class="col-3">
            <a href="{{ path('cart_transport') }}" class="btn btn-primary p-4" style="font-size:1.6rem">
              Use this address
            </a>
          </div>
        </div>
        {% else %}
        <a href="{{ path('address_new') }}" class="btn btn-success" style="font-size:1.6rem">
          Create a new address
        </a>
    {% endif %}
      </div>

    {# {{ render(controller('App\\Controller\\CartController::cart')) }} #}
  {% else %}
    <p>
      Your cart is empty !
    </p>
  {% endif %}
{% endblock %}
