{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        <button type="button" class="btn  btn-primary" data-toggle="popover" title="Terms" data-content="I am a trustfull customer and I visit your website with positive mind">Click to see the terms</button>
        {{ form_row(registrationForm.agreeTerms) }}        
        {{ form_row(registrationForm.captcha) }}        
        <button class="btn btn-lg btn-success">Register</button>
    {{ form_end(registrationForm) }}

       
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{{ encore_entry_script_tags('menu') }}
{% endblock  %}
