{% extends 'base.html.twig' %}

{% block title %}MDS
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">

			<h1 class="my-4">
				{{ product.name }}
			</h1>

					<img class="d-block w-100" src="{{ vich_uploader_asset(product, 'mainImageFile') | imagine_filter('big') }}" alt="{{ product.name }}">
			
		</div>
	</div>

</div>{% endblock %}{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('add') }}{% endblock %}
