
      {# <table class="table table-dark">
  
  <tbody>
    <tr>
    <pre>
      {# {{ dump() }} #}
    {# </pre>
      <td> {{ ea.user.firstName}} </td>
      <td> {{ ea.user.lastName}} </td>
      <td> {{ ea.user.email}} </td>
      </tr>
  </tbody>
</table> #} 

<a href="#">
{{ ea.user.firstName}}

{{ ea.user.lastName}} 

 {{ ea.user.email}}
</a>