{% extends 'base.html.twig' %}

{% block title %}Miz-Dara Contact
{% endblock %}

{% block body %}


	<div class="row mt-5">
		<div class="col-md-8">

			<img src="{{ 'products/images/shop.jpg' | imagine_filter('big') }}" alt="Miz Dara Shop">

		</div>

		<div class="col-md-4">

			<a href="#" class="btn btn-primary">Contact Miz Dara Shop</a>
			<div id="contactForm" class="mt-4">
				{{form_start(form)}}
				<div class="row">
					<div class="col">
						{{form_row(form.firstName)}}
					</div>
					<div class="col">
						{{form_row(form.email)}}
					</div>
				</div>
				<div class="row">
                <div class="col">
					{{form_row(form.email)}}
                </div>
                <div class="col">
					{{form_row(form.email)}}
                </div>
				</div>
				<div class="row">
                <div class="col">
					{{form_row(form.subject)}}
                </div>
				</div>
				<div class="row">
                <div class="col">
					{{form_row(form.content)}}
                </div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary">Send</button>
				</div>
				{{form_end(form)}}
			</div>

		</div>


	</div>
{% endblock %}
