<p>Message from&nbsp: {{ contact.firstName }} 
    {% if contact.user %}
        &nbsp
        {{contact.user.lastName}}
        id # {{contact.user.id}}
    {% endif %}
</p>
<p>{{contact.email}}</p>
{% if contact.purchase %}
    {% set purchase = contact.purchase %}
    {# <h1>purchase # {{purchase.id}}</h1> #}
    {{ include('cart/_cart.html.twig') }}    
    {% if purchase.address %}
        {{ include('cart/_address.html.twig') }}
    {% endif %}  
{% endif %}
<h2>Content:</h2>
<p>{{contact.content}}</p>
